<h3>Statistics</h3>
<%= "Dishes : #{dish_count}" %>
<%= "Restaurants : #{restaurant_count}" %>

<h3>Last dishes</h3>
<% dishes.each do |dish| %>
  <li><%= dish['title'] %></li>
  <li><%= dish['price'] %></li>
<% end %>

<h3>Last restaurants</h3>
<% restaurants.each do |restaurant| %>
  <ul>
    <li><b><%= restaurant['name'] %></b></li>
    <li><%= restaurant['city'] %></li>
    <li><%= restaurant['zip_code'] %></li>
  </ul>
<% end %>
