<h3>Statistics</h3>
<% accounting.each do |a| %>
  <%= "Dishes : #{a['dish_count']}" %>
  <%= "Restaurants : #{a['restaurant_count']}" %>
<% end %>

<h3>Last dishes</h3>
<% dishes.each do |dish| %>
  <li><%= dish['title'] %></li>
  <li><%= dish['price'] %></li>
<% end %>

<h3>Last restaurants</h3>
<% restaurants.each do |restaurant| %>
  <ul>
    <li><b><%= restaurant['name'] %></b></li>
    <li><%= restaurant['city'] %></li>
    <li><%= restaurant['zip_code'] %></li>
  </ul>
<% end %>
